/*! Gutenberg reset — adapted from Normalize */
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

article,aside,cite,code,details,figcaption,figure,footer,header,hgroup,main,nav,section,small,summary {
    display: block
}

article,article ol,article ul,blockquote,body,div,figure,footer,header,input,nav,section {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

audio,canvas,progress,video {
    display: inline-block;
    vertical-align: baseline
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden],template {
    display: none
}

a {
    background: 0 0
}

a:active,a:hover {
    outline: 0
}

abbr {
    letter-spacing: .1em
}

abbr[title] {
    border-bottom: 1px dotted
}

b,strong {
    font-weight: 700
}

dfn {
    font-style: italic
}

mark {
    background: #ff0;
    color: #000
}

small {
    font-size: 70%
}

sub,sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -.5em
}

sub {
    bottom: -.25em
}

em,i {
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

img {
    border: 0
}

svg:not(:root) {
    overflow: hidden
}

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box
}

pre {
    overflow: auto
}

code,kbd,pre,samp {
    font-family: monospace,monospace
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

td,th {
    padding: 0
}

img {
    max-width: 100%;
    display: block;
    margin: inherit;
    margin-right: auto;
    margin-left: auto
}

html {
    font-size: 16px;
    font-size: 100%;
    font-family: ui-sans-serif,
        system-ui,
        -system-ui,
        -apple-system,
        BlinkMacSystemFont,
        Roboto, Helvetica, Arial,
        sans-serif;
    color: #222;
    font-variant-ligatures: common-ligatures;
    -moz-font-feature-settings: "liga","clig";
    -webkit-font-feature-settings: "liga","clig";
    font-feature-settings: "liga","clig"
}

article * {
    line-height: 26px;
    line-height: 1.625rem;
    margin: 0 0 1.625rem
}

article p+p {
    margin-top: -1.625rem;
    text-indent: 26px;
    text-indent: 1.625rem
}

article .attention-grabber+p {
    text-indent: 0;
    margin-top: 0
}

article h1 {
    font-size: 48px;
    font-size: 3rem;
    line-height: 52px;
    line-height: 3.25rem;
    margin-top: 6.5rem;
    margin-bottom: 1.625rem
}

article h2 {
    font-size: 27px;
    font-size: 1.6875rem;
    line-height: 39px;
    line-height: 2.4375rem;
    margin-top: 4.0625rem;
    margin-bottom: .8125rem
}

article h3 {
    font-size: 22px;
    font-size: 1.375rem;
    line-height: 26px;
    line-height: 1.625rem;
    margin-top: 3.25rem;
    margin-bottom: .8125rem
}

article h4 {
    font-size: 19.2px;
    font-size: 1.2rem;
    line-height: 26px;
    line-height: 1.625rem;
    margin-top: 2.4375rem;
    margin-bottom: .8125rem
}

article h5 {
    font-size: 16px;
    font-size: 1rem;
    line-height: 26px;
    line-height: 1.625rem;
    margin-top: 4.0625rem;
    margin-bottom: .8125rem
}

article h6 {
    font-size: 16px;
    font-size: 1rem;
    line-height: 26px;
    line-height: 1.625rem;
    margin-top: 2.4375rem;
    margin-bottom: .8125rem
}

article h1+h2 {
    margin-top: 1.625rem
}

article h2+h3,h3+h4,h4+h5 {
    margin-top: .8125rem
}

article h5+h6 {
    margin-top: -.8125rem
}

article h6 {
    font-weight: 400;
    font-style: italic
}

article h1,h2,h3,h4,h5,h6 {
    font-family: ff-meta-web-pro,Helvetica,Arial,sans-serif
}

article h1 {
    letter-spacing: -.01em
}

article a {
    color: #222;
    transition: all .3s
}

article a:hover,a:visited,a:visited:hover {
    color: #222
}

article a:active {
    color: red
}

article figcaption {
    color: #222;
    font-style: italic;
    font-size: .8125rem;
    text-align: center;
    margin-bottom: 0;
    line-height: 26px;
    line-height: 1.625rem
}

article blockquote {
    padding-left: 1.4375rem;
    font-style: italic
}

article cite {
    font-style: normal
}

article figure blockquote {
    padding: 1.625rem 0
}

article figure blockquote p {
    font-size: 27px;
    font-size: 1.6875rem;
    line-height: 39px;
    line-height: 2.4375rem
}

article ol li,
article ul li {
    margin-bottom: 0
}

article hr {
    margin: 1.625rem auto;
    height: 26px;
    height: 1.625rem;
    color: #222;
    text-align: center;
    display: block;
    border: 0
}

article hr:before {
    content: "···";
    letter-spacing: 1em
}

article small {
    line-height: 13px;
    line-height: .8125rem
}

carticle ode {
    padding: 1.625rem
}

article .attention-grabber {
    font-size: 19.2px;
    font-size: 1.2rem
}

article .grid, article .grid-double {
    background-image: linear-gradient(to bottom,rgba(0,170,255,.3) 1px,transparent 1px);
    background-position: left top;
    background-repeat: repeat;
    background-size: 100% 1.625rem
}

article .grid-double {
    background-image: linear-gradient(to bottom,rgba(0,170,255,.3) 1px,transparent 1px,transparent 13px,rgba(0,170,255,.2) 13px,transparent 14px,transparent 26px)
}



article .alignLeft {
    text-align: left
}

article .alignCenter {
    text-align: center
}

article .alignRight {
    text-align: right
}

article .uppercase {
    letter-spacing: .1em;
    text-transform: uppercase
}

article hgroup h6 {
    font-family: ff-meta-serif-web-pro,Georgia,serif
}

article .sc {
    font-family: ff-meta-serif-sc-web-pro,Georgia,serif;
    letter-spacing: .15em;
    text-transform: lowercase
}

@media screen and (min-width: 37em) {

    article * {
        /*max-width: 640px;
        max-width: 32rem;
        margin-left: auto!important;
        margin-right: auto!important;*/
        line-height: 32px;
        line-height: 1.6rem;
        margin-bottom: 1.6rem
    }

    article  {
        font-size: 20px;
        font-size: 1.25rem
    }

    article .toggleWrapper {
        top: 32px;
        right: 32px
    }

    article .floatLeft+p,.floatRight+p,p+p {
        margin-top: -1.6rem;
        text-indent: 32px;
        text-indent: 1.6rem
    }

    article .grid,.grid-double {
        background-size: 100% 1.6rem
    }

    article .grid-double {
        background-image: linear-gradient(to bottom,rgba(0,170,255,.3) 1px,transparent 1px,transparent 16px,rgba(0,170,255,.2) 16px,transparent 17px,transparent 32px)
    }

    article .btnToggleGrid {
        top: 32px;
        right: 32px
    }

    article h1 {
        margin-top: 6.4rem;
        margin-bottom: 1.6rem
    }

    article h2 {
        font-size: 27px;
        font-size: 1.6875rem;
        line-height: 48px;
        line-height: 2.400000000000001rem;
        margin-top: 4rem;
        margin-bottom: .8rem
    }

    article h3 {
        font-size: 22px;
        font-size: 1.375rem;
        line-height: 32px;
        line-height: 1.6rem;
        margin-top: 3.2rem;
        margin-bottom: .8rem
    }

    article h4 {
        font-size: 19.2px;
        font-size: 1.2rem;
        line-height: 32px;
        line-height: 1.6rem;
        margin-top: 2.400000000000001rem;
        margin-bottom: .8rem
    }

    article h5 {
        font-size: 16px;
        font-size: 1rem;
        line-height: 32px;
        line-height: 1.6rem;
        margin-top: 4rem;
        margin-bottom: .8rem
    }

    article h6 {
        font-size: 16px;
        font-size: 1rem;
        line-height: 32px;
        line-height: 1.6rem;
        margin-top: 2.400000000000001rem;
        margin-bottom: .8rem
    }

    article h1 {
        font-size: 56px;
        font-size: 3.5rem;
        line-height: 80px;
        line-height: 4rem;
        letter-spacing: -.025em
    }

    article h1+h2 {
        margin-top: 1.6rem
    }

    article h2+h3,h3+h4,h4+h5 {
        margin-top: .8rem
    }

    article h5+h6 {
        margin-top: -.8rem
    }

    article figure blockquote {
        padding: 3.2rem 0 1.6rem;
        text-align: center
    }

    article figure blockquote p {
        font-size: 27px;
        font-size: 1.6875rem;
        line-height: 48px;
        line-height: 2.400000000000001rem
    }

    article figure.floatLeft,article figure.floatRight {
        max-width: 320px;
        max-width: 16rem;
        padding: 1.6rem;
        margin-bottom: 0
    }

    article figure.floatLeft blockquote,article figure.floatRight blockquote {
        text-align: left;
        padding: 0;
        margin-top: 1.6rem
    }

    article figure.floatLeft blockquote p,article figure.floatRight blockquote p {
        font-size: 19.2px;
        font-size: 1.2rem;
        line-height: 32px;
        line-height: 1.6rem
    }

    article figcaption {
        line-height: 32px;
        line-height: 1.6rem;
        margin-bottom: 0
    }

    article .floatLeft {
        float: left
    }

    article .floatCenter {
        margin-left: auto;
        margin-right: auto
    }

    article .floatRight {
        float: right
    }

    article blockquote {
        padding-left: 2rem
    }

    article small {
        line-height: 16px;
        line-height: .8rem
    }

    article hr {
        margin-top: 1.6rem;
        margin-bottom: 1.6rem;
        height: 32px;
        height: 1.6rem
    }

    article code {
        padding: 1.6rem
    }

    article .attention-grabber {
        font-size: 19.2px;
        font-size: 1.2rem
    }
}
